<div id="instrument-show">
  <div class="container">
    <div class="row">
        <h3 class="col s12"><p><%= link_to "#{@instrument.name}", instrument_path(slug: @instrument.slug), class: "white-text" %></p></h3>

      <div class="col s6">
        <a href="/instruments/<%= @instrument.slug %>"><%= image_tag @instrument.image.url(:large) %></a>
        <div class="instrument-thumbs">
          <% @instrument.photos.each do |photo| %>
            <%= image_tag photo.image.url(:thumb) %>
          <% end %>
        </div>
      </div>
        <div class="col s6">
          <ul>
            <h4><p>Specifications:</p></h4>
            <% @instrument.specs.each do |spec| %>
              <li><p>- <%= spec.description %></p></li>
            <% end %>
          </ul>
        </div>
        <% unless @instrument.custom %>
        <div class="col s6 offset-s6">
          <ul>
            <h4>Options:</h4>
            <% @instrument.options.each do |option| %>
              <li><p>- <%= option.description %></p></li>
            <% end %>
          </ul>
        </div>
        <% end %>
    </div>
  </div>
</div>
