<div class="instrument-show">
    <div class="row">
        <div class="center-align">
          <h3>
            <%= link_to "#{@instrument.name}", instrument_path(slug: @instrument.slug), class: "white-text" %>
          </h3>
         <h4><%= @instrument.style %></h4>
       </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="center-align">
          <a href="/instruments/<%= @instrument.slug %>"><%= image_tag @instrument.image.url(:large) %></a>
          <div class="instrument-thumbs">
            <% @instrument.photos.each do |photo| %>
              <%= image_tag photo.image.url(:thumb) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <ol class="spec_list">
          <% @instrument.specs.each do |spec| %>
            <li><%= spec.description %></li>
          <% end %>
        </ol>
      </div>
    </div>
</div>
