<div class="container-fluid">
  <div class="row">
    <h1 class="top_title_text"><div class="text-center">House of Luthiery</div></h1>
    <h5 class="col-sm-8 offset-sm-2 mission_statement">Combining the art of fine woodworking and acoustical physics to create sonically mindful, handcrafted guitars.</h5>

    <div id="home">

    </div>
      <div class="carousel carousel-home">
        <a class="carousel-item" href="#midcoast-assembly!"><%= image_tag "midcoast-assembly.jpg" %></a>
        <a class="carousel-item" href="#neck-work!"><%= image_tag "neck-work.jpg" %></a>
        <a class="carousel-item" href="#chisel!"><%= image_tag "chisel.jpg" %></a>
        <a class="carousel-item" href="#in-the-shop!"><%= image_tag "in-the-shop.jpg" %></a>
        <a class="carousel-item" href="#routing!"><%= image_tag "routing.jpg" %></a>
      </div>
    </div>
  </div>
</div>
