<div class="container-fluid">
  <div class="row">

    <!-- <h1 class="top_title_text"><div class="text-center">House of Luthiery</div></h1> -->

    <div id="home">

    </div>
      <div class="carousel-home">
        <p class="center-align">
          <iframe src="https://player.vimeo.com/video/157611738" width="500" height="213" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<!-- <p><a href="https://vimeo.com/157464340">House of Luthiery & Nania Guitars</a></p> -->
        </p>
        <div class="carousel inst-carousel">
          <a class="carousel-item" href="#two!"><%= image_tag "ariar.jpg" %></a>
          <a class="carousel-item" href="#three!"><%= image_tag "midcoast.jpg" %></a>
          <a class="carousel-item" href="#four!"><%= image_tag "ariar-custom.jpg" %></a>
          <a class="carousel-item" href="#five!"><%= image_tag "croonn.jpg" %></a>
          <a class="carousel-item" href="#six!"><%= image_tag "web_kahn_full_front.jpg" %></a>
        </div>
      </div>
    </div>
  </div>
</div>
