<div class="instruments">
  <div class="container">
  <div class="row">
    <h1><div class="center-align">Signature Models</div></h1>
  </div>
  <div class="row">

    <% @signature_models.each do |model| %>
    <div class="row">
      <h3>
        <div class="center-align">
          <%= link_to "#{model.name}", instrument_path(slug: model.slug), class: "white-text" %>
        </div>
      </h3>
    </div>
      <div class="row">
        <div class="col s12">
          <div class="center-align">
            <a href="/instruments/<%= model.slug %>"><%= image_tag model.image.url(:large) %></a>
            <div class="instrument-thumbs">
              <% model.photos.each do |photo| %>
                <a href="/instruments/<%= model.slug %>"><%= image_tag photo.image.url(:thumb) %></a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
      <h1><div class="center-align">Custom Builds</div></h1>
      <% @custom_models.each do |model| %>
      <div class="row">
        <h3>
          <div class="center-align">
            <%= link_to "#{model.name}", instrument_path(slug: model.slug), class: "white-text" %>
          </div>
         </h3>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="center-align">
            <a href="/instruments/<%= model.slug %>"><%= image_tag model.image.url(:large) %></a>
            <div class="instrument-thumbs">
              <% model.photos.each do |photo| %>
                <a href="/instruments/<%= model.slug %>"><%= image_tag photo.image.url(:thumb) %></a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>
