<!DOCTYPE html>
<html>
<head>
  <title>HouseOfLuthiery - Handmade Guitars - Luthier - Custom Guitars</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



</head>
<body>

  <ul id="menu_index">
    <li><a href="/">Home</a></li>
    <li><a href="/instruments">Instruments</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="/"><a class="logo" href="/"><%= image_tag "A5.png"%></a></a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/contact">Music</a></li>
  </ul>

  <%= render "shared/header" %>
<div class="mission_statement">
  <h5 class="col-sm-8 offset-sm-2 mission_statement">Combining the art of fine woodworking and acoustical physics to create</h5>
  <h5 class="col-sm-8 offset-sm-2 mission_statement"><em>sonically mindful, handcrafted guitars.</em></h5>
</div>


    <div class="container">
      <div class="row">
        <div class="col-offset-sm-1">

          <% flash.each do |name, msg| %>
            <% if msg.is_a?(String) %>
              <%= content_tag :div, msg, :class => "flash_#{name}" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <%= yield %>
    <%= render "shared/footer" %>

</body>
</html>
