<!DOCTYPE html>
<html>
<head>
  <title>HouseOfLuthiery</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p id="logo">
    <a href="/"><%= image_tag "A5.png"%></a>
  </p>
  <p id="icons">
    <a href="https://www.facebook.com/houseofluthiery"><%= image_tag "facebook.png" %></a>
    <a href="https://www.instagram.com/naniahouseofluthiery/"><%= image_tag "instagram.png" %></a>
  </p>
    <%= render "shared/header" %>
    <div class="container">
      <div class="row">
        <div class="col offset-s1">

          <% flash.each do |name, msg| %>
            <% if msg.is_a?(String) %>
              <%= content_tag :div, msg, :class => "flash_#{name}" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <!-- <div class="container"> -->
    <%= yield %>
  <!-- </div> -->
    <%= render "shared/footer" %>
</body>
</html>
